.bandeau{
	text-align: center;
	font-family: "Karma", sans-serif
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 20px;
}

img{
	height: 60px;
}


fieldset {
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
}
 
legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}
 
label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}

em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

input:focus {
  background: #eaeaea;
}
 
input, textarea {
  width: 249px;
}
 
textarea {
  height: 100px;
}
 
select {
  width: 254px;
}
 
input[type=checkbox] {
  width: 10px;
}
 
input[type=submit] {
  width: 150px;
  padding: 10px;
}


.bouton{
	background-color: #2e7d32;
    color:white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.voiture-rtl{
  overflow: hidden; /* important */
 
 }


.voiture-rtl img{​​​​​​​
  height: 60px; 
}


.voiture-rtl > div {
  display: inline-block; /* important */
  white-space: nowrap; /* important */
  animation: defilement-rtl 6s infinite linear; /* défilement */
  cursor: pointer;
  padding: 10px 2em 10px 100%;
}



.voiture-rtl > div:first-letter {
  font-weight: 700;
  color: #F00;
}

@keyframes defilement-rtl {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
  }
}