.cadre{
	background-color: #e0e0e0;
	border:1px solid red;
 	padding:3px;
 	margin-right: 30%;
 	margin-left: 30%;
 	border: inset 3px;
}



.bandeau{
	text-align: center;
	margin-right: 30%;
	margin-left: 30%;
	font-family: American Typewriter, serif;
}
.bandeau img{
	height: 60px;
}

.portail{
	text-align: center;
}

.mdp_forget{
	text-align: center;
}
body{
	background-color:  #fafafa;
}