.cadre{

	background-color: red;
 	padding:3px;
 	border-radius: 8px;
 	border-color: #2e7d32;
 	border-width: 3px;
 	padding: 70px;
}

.bandeau{
	text-align: center;
	margin-right: 30%;
	margin-left: 30%;
	font-family: American Typewriter, serif;
}
.bandeau img{
	height: 60px;
}

.portail{
	text-align: center;
}

.mdp_forget{
	text-align: center;
}
body{
	background-color:  #fafafa;
}
